h1,h2 {  background-color: crimson;}
p {background-color: lightgrey;}
#css { background-color: lightblue; }
#html { background-color: lightgreen; }
strong { background-color: rgb(241, 165, 165); }


p{display:block;}


p{display:inline;}

em, strong {
background-color:#B2D600;
display:block;
}

p{text-align: right;}


div {
 background-color: red;
 color: white;
 font-size: 14pt;
}


h1 {
 border-top: 1px solid red;
 border-right: 2px dotted green;
 border-bottom: 3px dashed rgb(4, 0, 255);
 border-left: 4px double gold;
}

div {
 border-radius: 10px;
}

div {
  padding: 20px;
}

h1 {
 padding-top: 10px;
 padding-right: 20px;
 padding-bottom: 10px;
 padding-left: 20px;
}

h1 {
 margin-top: 20px;
 margin-right: 10px;
 margin-bottom: 50px;
 margin-left: 10px;
}

strong {
  margin: 20px;
}

div {
	width: 300px;
  	margin: auto;
}

table, td, th { border: 2px solid black; }